[build]
command = "pnpm install --no-frozen-lockfile && pnpm run build:netlify"
publish = ".next"
environment = { NODE_VERSION = "20.11.1", NEXT_TELEMETRY_DISABLED = "1" }

[[plugins]]
package = "@netlify/plugin-nextjs"