[build]
  command = "pnpm run build:netlify"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20.11.1"
  PNPM_FLAGS = "--no-frozen-lockfile"

[[plugins]]
  package = "@netlify/plugin-nextjs"