[build]
  command = "pnpm install --no-frozen-lockfile && pnpm run build:netlify"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"
  
[build.caching]
  enabled = true