@'
# Dependency directories
node_modules/
.next/
out/

# Production files
*.log
*.tar
*.gz

# System files
.DS_Store
Thumbs.db

# Project files
*.bat
*.zip
*.pdf
*.docx
*.xlsx
*.lnk
*.ini
'@ | Out-File .gitignore